*{
	font-family: "微软雅黑";
}

fieldset{
	padding: 25px;
	width: 400px;
	margin: 25px auto 0;
}

#top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#result{
	margin-top: 25px;
}
